* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid #e3fae1;*/
}

a {
    color: #cccccc;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    border-bottom: 2px solid crimson;
}

.top {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-color: #f9f9f9;
    color: #646464;
    font-size: 12px;
    border-bottom: 1px solid #f2f2f2;
}

.top > div {
    width: 1200px;
    overflow: hidden;
}

.duang-info {
    float: right;
}

.duang-info > ul > li,
.duang-info,
.location {
    display: inline-block;
}

.spacer {
    margin: 0 3px;
    width: 1px;
    height: 10px;
    background: #ccc;
}

.center {
    width: 1200px;
}

.bottom > div {
    overflow: hidden;
}

.logo, .search-block, .order {
    vertical-align: middle;
    display: inline-block;
}

.search-area {
    border: 2px solid crimson;
}

.search-area > input, .search-area > button, .search-area > select, .search-area > option {
    height: 40px;
    border: none;
}

.search-area > input {
    width: 400px;
}

.search-area > input:focus {
    outline: none;
}

.search-area > button {
    width: 48px;
    height: 40px;
}

.order {
    float: right;
    line-height: 100px;
}

.order > button {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.order > button:nth-child(1) {
    background: crimson;
    color: white;
    height: 40px;
    text-align: center;
    border: none;
}

.order > button:nth-child(2) {
    height: 40px;
    text-align: center;
    border: 2px solid #cccccc;
    border-left: none;
    background-color: #f6f6f6;
}

.under-search {
    font-size: 12px;
    overflow: hidden;
}

.hot {
    float: left;
}

.advance {
    float: right;
}

.sort {
    width: 1200px;
}

.sort > ul {
    overflow: hidden;
}

.sort > ul > li {
    padding: 10px 16px;
    font-weight: 600;
    float: left;
}

.all > i {
    margin-left: 20px;
}

.all {
    padding: 10px !important;
    width: 200px;
    background: crimson;
    color: white;
}

section {
    margin: 30px auto;
}

.ad {
    margin-top: 0;
    width: 1200px;
    display: flex;
}

aside {
    width: 200px;
    background-color: #fafafa;
}

.partition > li {
    padding-left: 18px;
    height: 30px;
    color: #323232;
    font-size: 14px;
    line-height: 30px;
}

.partition > li > a {
    color: #323232;
}
.float{
    width: 296px;
    height: 488px;
    position: absolute;
    border: 1px solid crimson;
    right: 364px;
}
.swiper {
    width: 796px;
    display: flex;
    flex-direction: column;
}

.swiper > div:nth-child(1) {
    width: 100%;
    height: 326px;
    background: #ccb2ff;
}

.small {
    display: flex;
}

.small > div {
    width: 198px;
    height: 160px;
    background-color: #fff4b9;
    box-sizing: content-box;
    border: 1px solid white;
}

.notice {
    width: 202px;
}

.notice > div {
    width: 202px;
    border: 1px solid #cccccc;
}

.notice > div:nth-child(1) {
    height: 194px;
}

.notice > div:nth-child(1) > img {
    width: 100%;
    height: 100%;
}

.notice > div:nth-child(2) {
    height: 30px;
}

.button > button:hover {
    background: white;
}

.notice > div:nth-child(3) {
    height: 143px;
    border-top: none;
}

.notice > div:nth-child(4) {
    height: 119px;
}

.button > button {
    background: #F0F0F0;
    color: #777;
    width: 50%;
    height: 100%;
    font-size: 14px;
    border: none;
}

.killer {
    width: 1200px;
}

.killer-title {
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
}

.killer-title > * {
}

.countdown {
    margin: 0 !important;
    width: 300px;
    display: flex;
    align-items: center;
}

.countdown-image {
    width: 64px;
    height: 39px
}

.countdown-image > img {
    width: 100%;
    height: 100%;
}

.timer {
    display: flex;
    align-items: center;
}

.timer > i {
    padding: 10px;
}

.timer > div {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.timer > div > span {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: block;
    line-height: 30px;
}

.venue {
    display: flex;
}

.venue > li {
    margin: 10px;
    padding: 10px;
}

.recommend {
    margin: 20px;
    display: flex;
}

.recommend > span {
    margin-right: 80px;
}

.recommend > li {
    height: 100%;
    font-size: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.killer-content {
    width: 100%;
    display: flex;
}

.content-left {
    width: 994px;
    display: flex;
    flex-wrap: wrap;
}

.books {
    margin: 0 !important;
    width: 198px;
    height: 227px;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    position: relative;
}

.books-image {
    width: 150px
}

.books-image > img {
    width: 100%;
    height: 100%;
}

progress {
    width: 150px;
    height: 8px;
    border-radius: 4px;
    background: #ffb7b7;
    position: absolute;
    left: 22px;
    bottom: 58px;
}

.percentage {
    width: 76px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background: #FE8D91;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 40;
}

progress::-webkit-progress-bar {
    background: #ffb7b7;
    border-radius: 0.2rem;
}

/* 表示已完成进度背景色 */
progress::-webkit-progress-value {
    background: crimson;
    border-radius: 0.2rem;
}

.content-right {
    width: 203px !important;
    display: block;
}

.books > div > span {
    font-size: 16px;
    color: crimson;
}

.column {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.column > div {
    height: 113px;
    width: 100%;
}

.column > div:nth-child(1) {
    background: #c8ebff;
}

.column > div:nth-child(2) {
    background: #d5ffc8;
}

.column > div:nth-child(3) {
    background: #fff3c8;
}

.column > div:nth-child(4) {
    background: #ffbdbd;
}

.e-book {
    width: 1200px;
    display: flex;
}

.bae-title {
    margin-bottom: 6px;
    width: 910px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.bae-content {
    display: flex;
    border: 1px solid #ccc;
}

.book-ebook {
    margin: 0 !important;
}

.book-sort {
    margin: 0 !important;
}

.book-sort > button {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.book-sort > button:hover {
    background: white;
    font-weight: 500;
    border: 2px solid black;
    border-bottom: none;
}

.big-books {
    width: 240px;
}

.big-books > div:nth-child(1) {
    height: 320px;
    overflow: hidden;
}

.big-books > ul{
    background-color: #FDFEFC;
}
.big-books > ul > li {
    width: 80px;
    height: 28px;
    display: inline-block;
}

.book-center {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e6e6e6;
    border-left: none;
}

.book-center > div:nth-child(1) {
    margin: 0 !important;
}

.ebooks {
    margin: 0 !important;
    width: 166px;
    height: 227px;
    font-size: 12px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}

.ranking {
    width: 278px;
    height: 497px;
}

.ranking-btn > button {
    height: 46px;
    width: 139px;
    border: 1px solid #e6e6e6;
}

.ranking-btn > button:hover {
    background: white;
    border-bottom: none;
}

.newest {
    width: 100%;
    height: 92%;
    border: 1px solid #e6e6e6;
    border-top: none;
}

.footer-content {
    width: 1200px;
}

.introduce {
    padding: 20px 340px;
    width: 100%;
    background-color: #FAFAFA;
    border-top: 2px solid salmon;
    display: flex;
    justify-content: space-evenly;
}

.quality {
    width: 138px;
    height: 52px;
    background-image: url(../images/footer_bg.png);
    background-position: 0 0;
    cursor: pointer;
}


.speed {
    width: 138px;
    height: 52px;
    background-image: url(../images/footer_bg.png);
    background-position: 0 -103px;
    cursor: pointer;
}

.rest {
    width: 138px;
    height: 52px;
    background-image: url(../images/footer_bg.png);
    background-position: 0 -156px;
    cursor: pointer;
}

.help {
    text-align: center;
    display: flex;
}
.help > div > p{
    margin: 20px 0 10px 0;
}
.line {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ccc;
}

.about, .mark {
    text-align: center;
}

.about > p:nth-child(2) {
    margin: 20px 0;
}

.about > p, .help > div > ul > li {
    margin: 4px 0;
    font-size: 12px;
    color: #777777;
}

.about > p > span {
    margin: 0 10px;
}

.about > p > span > img {
    vertical-align: middle;
}

.mark > img {
    margin: 20px;
}