* {
  margin: 0;
  padding: 0;
}
img{
  user-select: none;
}
body {
  background-color: #eaeaea;
}
span,p{
  text-align: left;
}
header {
  background-color: white;
  border-bottom: 5px #c30101 solid;
}
header > div:first-child {
  margin: 5px 121px;
  width: 1215px;
  overflow: hidden;
}
.top:nth-child(1) {
  float: left;
}
.top:nth-child(2) {
  float: right;
}
header > div:nth-child(1) {
  width: 1215px;
}
header > div:nth-child(2) {
  width: 1215px;
  border-top: 1px #ccc solid;
  position: relative;
}
.logo {
  margin: 20px 121px;
}
nav,
nav > ul > li {
  display: inline-block;
  margin: 0 10px;
}
nav {
  position: absolute;
  top: 30%;
  left: 58%;
}
.banner {
  border-bottom: 1px #c30101 solid;
}
.banner > img {
  width: 1519px;
}
.common {
  margin: 20px 121px;
  width: 1215px;
  background-color: white;
}
.introduce {
  padding: 10px 0;
  text-align: center;
}
.introduce > div {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.statements,
.encouragement,
.national {
  margin: 20px 10px;
  width: 25%;
  text-align: left;
}
.info-img {
  float: left;
}
.split {
  height: 50px;
  border-left: 1px #ccc solid;
}
.introduce > div > p {
  color: #777;
  font-size: 14px;
}
.introduce > div > span {
  text-align: left;
  font-weight: 600;
}
.learn {
  margin: 20px 121px;
  width: 1215px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.recommend {
  display: inline-block;
  padding: 5px 0 5px 10px;
}
.more {
  margin: 3px;
  color: #777;
  float: right;
}
.course {
  background-color: white;
  width: 69%;
  height: 100%;
  /* height: 500px; */
  border: 1px #ccc solid;
  display: inline-block;
  vertical-align: top;
}
.title {
  border-bottom: 1px #ccc solid;
}

.content {
  overflow: hidden;
  padding: 20px 10px;
  border-bottom: 1px #ccc dashed;
  white-space: nowrap;
}
.content > img {
  float: left;
}
.content > p,
.content > span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  display: flex;
  justify-content: flex-end;
}
.mandarin {
  background-color: white;
  /* padding-bottom: 50px; */
  width: 29%;
  border: 1px #ccc solid;
  float: right;
  vertical-align: top;
}
.test {
  padding: 5px 0 5px 10px;
}
.column {
  width: fit-content;
  display: inline-block;
}
.column > img {
  width: 70%;
  padding: 10px 20px;
}
.column > p {
  margin-bottom: 20px;
  text-align: center;
}
.month {
  width: 100%;
}
.qualification,
.quiz {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
.article {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-bottom: 1px #ccc dashed;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quiz-content {
  background-image: linear-gradient(#f00102, #d70101);
}
.quiz-content > img {
  padding: 7px 5px;
  vertical-align: middle;
}
.entrance-title {
  display: inline-block;
  color: white;
}
.entrance {
  margin: 5px;
  width: 31%;
  border: 1px #ccc solid;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.message{
  position: absolute;
}
footer {
  background-color: #2b2b2b;
  text-align: center;
  width: 1519px;
  /* padding-right: 10%; */
  /* padding-left: 10%; */
  border-top: 3px #c30101 solid;
}
footer > * {
  color: rgba(255, 255, 255, 0.581);
}
footer > div {
  padding-top: 40px;
  width: 388px;
  height: fit-content;
  min-height: 200px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.bigger {
  width: 401px;
  overflow: hidden;
  text-overflow: ellipsis;
}
li {
  margin: 3px 0;
  display: inline-block;
}
.bigger > ul:nth-child(2) {
  color: white;
}
.smaller {
  text-align: center;
}
.smaller > div {
  display: inline-block;
  margin: 10px;
}
.smaller > * > p {
  text-align: center;
}
.text-group {
  display: inline;
}
.tel-group > img,
.qq-group > img {
  float: left;
  margin-right: 20px;
}
.tel-group,
.qq-group {
  overflow: hidden;
  margin-bottom: 20px;
}
.tel-group > p:nth-child(3) {
  font-size: 20px;
}
